/* Форма "заказать проект" */
.form-project {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgba(20, 1, 12, 0.40);
  ;
  transition: all ease .3s;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.form-order-project.active {
  opacity: 1;
  visibility: visible;
}

.form-order-project .wrapper-form-project {
  padding: 40px 32px;
}

.form-order-project .text-to-go-chat {
  padding: 20px 0;
  text-align: center;
}

.form-order-project .label-input-form-project {
  padding-bottom: 25px;
}

.form-order-project .label-input-form-project input {
  line-height: 25px;
}

.form-order-project .label-input-form-project:last-of-type {
  padding-top: 0;
}

/* Форма "получить смету" */
.form-get-smeta.active {
  opacity: 1;
  visibility: visible;
}

.form-get-smeta .wrapper-form-project {
  padding: 40px 32px;
}

.form-get-smeta .text-form {
  padding: 20px 0;
  margin: 0;
}

.form-get-smeta form {
  padding: 30px 20px;
}

.form-get-smeta .wrapper-social-form-project {
  padding-bottom: 20px;
}

.form-get-smeta .wrapper-social-form-project svg:hover {
  cursor: pointer;
}

.form-get-smeta .label-input-form-project {
  padding-bottom: 25px;
}

.feedback-form-get-smeta label {
  display: none;
}

.feedback-form-get-smeta label:nth-of-type(1),
.feedback-form-get-smeta label:nth-of-type(2) {
  display: flex;
}

.form-get-smeta .label-input-form-project input {
  line-height: 25px;
}


/* Форма "узнать стоимость" */
.form-get-price.active {
  opacity: 1;
  visibility: visible;
}

.form-get-price .wrapper-form-project {
  padding: 40px 32px;
}

.form-get-price .text-to-go-chat {
  padding: 20px 0;
  max-width: 525px;
  text-align: center;
}

.form-get-price .feedback-form-project {
  padding: 0 40px;
}

.form-get-price .label-input-form-project {
  padding-bottom: 25px;
}

.form-get-price .label-input-form-project input {
  line-height: 25px;
}



/* Форма "внести изменения в проект */
.form-change-project.active {
  opacity: 1;
  visibility: visible;
}

.wrapper-form-project {
  position: relative;
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #14010C;
  font-family: 'Montserrat', sans-serif;

  padding: 20px 40px;
  max-width: 630px;
  min-width: 630px;
}

.close-form-krest {
  position: absolute;
  right: 0;
  top: 0;
}

.close-form-krest:hover {
  cursor: pointer;
}

.title-form-project {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.text-form {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #14010C;
}

.text-to-go-chat {
  margin: 0;
  padding: 10px 0;
}

.text-to-go-phone {
  margin: 0;
  padding: 20px 0 16px;
}

.phone-form-project {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-form-project::before {
  content: url('../../img/form-icon/icon-phone.svg');
  width: 50px;
  height: 50px;
}

.text-to-feedback {
  margin: 0;
  padding: 20px 0 16px;
  text-align: center;
  max-width: 460px;
}

.wrapper-social-form-project {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.icon-social-form-project {
  height: 52px;
  width: 52px;
}

.feedback-form-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.label-input-form-project {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.label-input-form-project:last-of-type {
  padding-top: 8px;
}

.label-input-form-project input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: #fbfbfb;
  line-height: 20px;
}

.label-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 16px;
  font-size: 14px;
}

.label-checkbox input {
  opacity: 0;
  position: absolute;
}

.label-checkbox input:checked + span {
  background-image: url('../img/input-on.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 31px;
  height: 25px;
}

.label-checkbox input + span {
  background-image: url('../img/input-off.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 31px;
  height: 25px;
}


.text-add-change {
  text-align: center;
  padding-bottom: 16px;
  margin: 0;
}

.btn-square.form {
  max-width: 265px;
  background-color: #fbfbfb;
}

.btn-square.form::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.btn-square.form hr {
  position: absolute;
  width: 280px;
  margin: 0;
  background-color: #14010C;
  opacity: 1;
  top: 33px;
}

.btn-square.form hr::after {
  content: url('../../portfolio/img/block_info_project/arrow-btn-order.svg');
  position: absolute;
  right: 0;
  bottom: 3px;
}

/* @media (max-width: 450px) {
  .wrapper-form-project {
    padding: 20px 24px;
    min-width: 370px;
  }
} */
