.my_page_link{
	color:black !important;
}
.my_page_link:hover{
	color:#A78B73 !important;
	background-color:transparent !important;
}

.block_proekts_img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.block_proekts_img .block {
    border-radius: 0!important;
    line-height: 1.42857143;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 -80px 80px -25px rgba(0, 0, 0, .8) inset, 0 2px 5px #999;
    height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
    /*background-position-y: top;*/
    max-height: 500px;
}
@media (min-width: 1024px) {
    .col-lg-6.col-md-6:hover {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
        z-index: 500;
    }
}

.proekts_text {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(to top, #495160 0%, #495160 38%, rgba(73, 81, 96, 0) 100%);
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;

}

.proekts_price {
    position: absolute;
    width: 20%;
    height: 12%;
    
    right: 0;
    background: linear-gradient(to right top, rgba(73, 81, 96, 0), rgba(73, 81, 96, 1) 70%);
    background-image: linear-gradient(to left bottom, #495160 0%, #495160 30%, rgba(73, 81, 96, 0) 100%);
    border-bottom-left-radius: 10px;
}
.proekt_sale {
    position: absolute;
    width: 20%;
    left: 0;
    background-image: linear-gradient(to left bottom, #495160 0%, #495160 30%, rgba(73, 81, 96, 0) 100%);
    border-bottom-right-radius: 10px;
    font-size: 2.5em;
    color: #fc6;
    text-align: center;
}
.proekt_sale:after {
    content: "%";
    font-size: 0.8em;
    }
.proekts_price_name {
    font-size: 30px;
    line-height: 1.8;
    height: 100%;
    text-align: center;
    color: #ffcc66;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    display: block;
    letter-spacing: 1.8px;
}
.proekts_price_name span {
    font-size: 15px;
    padding: 1.5% 8%;
    background-color: #696a6b;
    border-radius: 5px;
}
@media (max-width: 1800px){
    .proekts_price_name {
        font-size: 28px;
    }
    .proekts_price_name span {
        font-size: 14px;
    }
    
}
@media (max-width: 1700px){
    .proekts_price_name {
        font-size: 24px;
    }
    .proekts_price_name span {
        font-size: 13px;
    }
    
}
@media (max-width: 1500px){
    .proekts_price_name {
        font-size: 24px;
    }
    .proekts_price_name span {
        font-size: 12px;
    }
    
}
@media (max-width: 1400px){
    .proekts_price_name {
        font-size: 22px;
    }
    .proekts_price_name span {
        font-size: 12px;
    }
    
}
@media (max-width: 1300px){
    .proekts_price_name {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .proekts_price_name span {
        display: none;
    }
}

.proekts_text_name {
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: auto;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: 1.8px;
    position: relative;
    top: 10px
}

.proekts_text .center {
    display: inline-block;
    color: #ffffff;
    font-family: "Arial";
    font-size: 26px;
    letter-spacing: 0.2px;
    margin-left: auto;
    position: relative;
    top: 26px;
    order: 2;
}

.proekts_text .center span {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-left: 15px
}

.proekts_text .center span i {
    position: absolute;
    font-size: 10px;
    top: 0;
    right: -7px
}

.proekts_text .right {
    color: #d1c099;
    font-size: 13px;
    display: flex !important;
    align-items: center;
    order: 0;
    position: relative;
    top: 25px
}

.proekts_text .right span {
    display: inline-block;
    color: #ffffff;
    font-family: "Arial";
    font-size: 26px;
    letter-spacing: 0.2px;
}

.proekts_text .right sup {
    display: inline-block;
    color: #ffffff;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
}

.proekts_text .right span img {
    margin-right: 5px;
    vertical-align: middle;
    border: 0
}

.clear {
    clear: both
}

.btn-brown {
    height: 40px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    border: none;
    border-radius: 0;
    color: #fff;
    word-spacing: 5px;
    line-height: 2;
    margin: 10px 0 15px
}

.block_proekts_img .btn-brown {
    box-shadow: 2px 1px 30px 0px rgba(0, 0, 1, 0.39);
    border: none;
    border-radius: 4px;
    width: 100%;
    /* background-color: #007a01; */
    /* color: #ffffff; */
    font-family: "PF Din Text Cond Pro", sans-serif;
    font-size: 24px;
    line-height: 19px;
    box-sizing: border-box;
    padding: 18px;
    text-align: center;
    max-width: 340px;
    text-transform: uppercase;
    margin-top: 40px;
    cursor: pointer;
    transition-duration: 0.15s;
    transition-property: background-color;
    cursor: pointer;
    /*font-size: 36px;*/
    display: table;
    /*height: 100px;*/
    /*padding: 15px 60px 0;
    width: auto;
    line-height: 1;*/
    background-size: cover;
    margin: 0 auto;
    background-color: #435061;
    font-weight: 400;
}

.heading_title {
    text-align: center;
    font-size: 40px;
    color: #009c0b;
    text-transform: uppercase;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 50px;
    font-weight: 700;
    padding-bottom: 20px
}

.heading_title span {
    font-size: 32px
}
.leastvalue {
    font-size: 24px;
    letter-spacing: 1.2px;
    text-align: center;
    line-height: 18px;
}
.projects .collections .collection-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}
.main-item {
    grid-column: span 2;
    grid-row: span 2;
    width: 92%!important;
    height: 100%!important;
    margin: 0!important;
    min-width: 280px;
    min-height: 200px;
    margin: 0 auto!important;
}

.collection-item {
    margin: 0 auto!important;
    width: 92%!important;
    height: 100%!important;
    min-width: 100px;
    min-height: 170px;
    background-position: center;
    justify-content: center;
    grid-column: span 2;
    grid-row: span 2;
}



.item-description {
    font-size: 22px!important;
    position: relative;
    /*top: 55px;*/
}
@media (min-width: 768px) {
    .projects .collections .collection-grid {
        grid-template-columns: repeat(3,1fr);
    }
    .item-description {
        font-size: 26px!important;
    }
    .main-item { 
        width: 100%!important;
    }
    .collection-item {
        grid-column: auto;
        grid-row: auto;
        width: 100%!important;
    }
}
@media(min-width: 992px){
    
}
.collections {
    padding: 20px 0;
}
.collection-item {
    outline: 2px solid #fff
}
.row.py-4 {padding-bottom: 0!important;}
.main-item {outline: 2px solid #fff}
@media (min-width: 1024px) {
    .collections {
        position: relative;
        padding: 50px 0;
    }
    
    .collection-item {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 500;
    }
    .collection-item:hover {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 500;
    }
    .collection-item {
        min-width: 320px;
        min-height: 300px;
    }
    .item-description {
        /*top: 100px;*/
    }
}

@media (max-width: 1200px){
    .proekts_text_name, .proekts_text .center, .proekts_text .right span{
    font-size: 22px;
    letter-spacing: unset;}
    .proekts_price_name {
        font-size: 18px;
        letter-spacing: 1px;}}
@media (max-width: 900px){
    .proekts_price_name {
        font-size: 17px;}}        

@media (max-width: 767px){
    .proekts_text_name, .proekts_text .center, .proekts_text .right span{
    font-size: 20px;
    letter-spacing: unset;}
    .block_proekts_img .block {
        height: 55vw;
    }
    .proekts_price_name {
        font-size: 22px;
        letter-spacing: 1.8px;}}    
    
@media (max-width: 440px){
.proekts_text_name, .proekts_text .center, .proekts_text .right span{
    font-size: 18px;
    letter-spacing: unset;}
    .block_proekts_img .block {
        height: 65vw;
    }
    .proekts_price_name {
        font-size: 17px;
        letter-spacing: 1px;}}
    
    .collections li {
        position: relative;
        width: 1fr;
        height: 208px;
        margin: 11px 16px 10px 15px;
        box-sizing: border-box;
        line-height: 1;
    }
    .collections li a {
        display: block;
        position: relative;
        text-align: center;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        height: 100%;
    }
    .collections img {
        display: block;
        width: 320px;
        height: 208px;
        border: 0 none;
        transition: opacity 0.4s;
        border-radius: 5px;
    }
    .collections li div {
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(60, 60, 60, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
        transform: translateY(-50%);
        box-sizing: border-box;
        vertical-align: middle;
        line-height: 1.2;
        /*font-weight: 100;
        text-shadow: 2px 2px 2px #000;*/
    }
    .collections li a span {
        display: block;
        font-size: 30px;
        background: linear-gradient(to right, transparent 5%, #ffcc66b0 15%, #ffcc66 20%, #ffcc66 80%, #ffcc6696 85%, transparent 95%);
        color: #000;
        bottom: 0;
        position: absolute;
        width: 100%;
        font-family: 'Cormorant Garamond' !important;
        font-weight: 200;
    }
    
    @media (min-width: 576px){
    .collections li, .collections img {
        width: 336px;
        height: 256px;
    }
    .collections li, .collections img {
        width: 336px;
        height: 256px;
    }
    }
    
    @media (min-width: 1366px){
    .projects .collections ul {
        display: block;
        margin: auto;
        max-width: 1276px;
    }
    .collections li:first-of-type {
        width: 702px;
        height: 532px;
    }
    .collections li {
        float: left;
        margin: 11px 15px 10px 15px;
    }
    .collections li img.big {
        width: 702px;
        height: 532px;
    }
    .collections li:first-of-type div {
        line-height: 50px;
    }
    .collections li div, .collections li div:first-of-type {
        width: 100%;
        height: 100%;
        line-height: 38px;
    }
    .collections li:first-of-type a span {
        font-size: 50px;
    }
    
    }
    
    @media (min-width: 1700px){
    .projects .collections ul {
        max-width: 1700px;
    }}
	
	 body {
        overflow-x: hidden;
    }



@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-regular.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-medium.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-medium.woff2') format('woff2');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-semibold.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-semibold.woff2') format('woff2');
  font-style: semibold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-bold.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-bold.woff2') format('woff2');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
.b-content {padding: 57px 15px 2rem;}
@media screen and (min-width: 1200px)
{.b-content {
    padding: 57px 5vh 10px;
}}
.catalog-header {
    text-align: center;
    border-bottom: 1px solid #435061;
    margin-top: 3.5vh;
}
.catalog-header1 {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1200px){
.catalog-header {
    padding-bottom: 1vh;
}}
@media screen and (min-width: 1200px)
{.catalog-header {
    padding-bottom: 2.5vh;
    margin-bottom: 3.5vh;
}}
.houses-title_big, .houses-title_big * {
    font-family: 'Cormorant Garamond' !important;
}
.houses-title_big {
    text-transform: uppercase;
}
.catalog-header h1 {
    color: #262626;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 56px;
    line-height: 44px;
}
h1.houses-title_big {
    font-weight: 100;
    color: inherit;
    margin: 0;
    line-height: inherit;
}
@media screen and (min-width: 1200px){
.houses-title_big, h1.houses-title_big {
    font-size: 7vh !important;
    /* margin-bottom: 1vh; */
    line-height: 8vh;
}}
@media screen and (max-width: 480px){
.houses-title_big, .houses-title_big h1 {
    font-size: 2rem !important;
    line-height: 20px;
}}

    .bx-caption {
        display: none
    }

    
    .b-mark{
        border: solid 1px #949494;
    }
    .b-section_filter .b-box {
    width: 1300px;
    }
    .pgr button {
        padding: 20px;
        width: 594px;
        background-color: #435061;
        border: none;
        color: white;
        font-family: "Arial";
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 600;
    }
    .pgr-count {
        background-color: #435061;
        border: none;
        color: white;
        font-family: "Arial";
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1.2px;
    }
    .srchblock {
        margin-top: 20px;
        text-align: center;
    }
    .b-searchpro{
        display: inline-table;
        border-collapse: collapse;
        width: 80%;
        max-width: 800px;
    }
    .b-searchpro input[placeholder] {
        text-transform: uppercase;
    }
    .b-searchpro input {
        margin: 0 auto;
        box-sizing: border-box !important;
        outline: none;
        letter-spacing: normal;
        width: 100%;
        height: 42px;
        border: 3px solid #009c0b;
        padding-left: 18px;
        font-family: 'PT Sans', sans-serif;
        display: block;
        vertical-align: middle;
    }
    .b-searchpro a {
        display: table-cell;
        width: 120px;
        background: #009c0b;
        color: #fff;
        margin-left: 0;    
    }
    .button__text {
        position: relative;
        display: block;
        color: #fff;
        border: 0 solid #009c0b;
        background-color: #009c0b;
        -webkit-transition: .1s ease-out;
        transition: .1s ease-out;
        -webkit-transition-property: border-color,background;
        transition-property: border-color,background;
    }
    
    .b-section_content {
        max-width: 1700px;
        margin-left: auto;
        margin-right: auto;
    }
    .b-section_content p {
        line-height: 1.4;
    }
    .b-section_content li {
        line-height: 1.4;
    }
    .btn {
        border-radius: 5px;
        text-transform: uppercase;
    }
    .btn-green {
        background-color: #2ab449;
        border-color: #2ab449;
        color: #ffffff;
        }
    @media screen and (max-width: 768px) {
        .b-section_content {
            flex-direction: column;}
    }
    
    .projects .collections ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-left: 0;
    }
    .collections li {
        position: relative;
        width: 320px;
        height: 208px;
        margin: 11px 16px 10px 15px;
        box-sizing: border-box;
        line-height: 1;
        background-size: cover;
    }
    .collections li a {
        display: block;
        position: relative;
        text-align: center;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        height: 100%;
    }
    .collections img {
        display: block;
        width: 320px;
        height: 208px;
        border: 0 none;
        transition: opacity 0.4s;
        border-radius: 5px;
    }
    .collections li div {
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(60, 60, 60, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
        transform: translateY(-50%);
        box-sizing: border-box;
        vertical-align: middle;
        line-height: 1.2;
        font-weight: 700;
        height: 100%;
        /*text-shadow: 2px 2px 2px #000;*/
    }
    .collections li a span {
        display: block;
        font-size: 30px;
    }
    
    @media (min-width: 576px){
    .collections li, .collections img {
        width: 336px;
        height: 256px;
    }
    .collections li, .collections img {
        width: 336px;
        height: 256px;
    }
    }
    
    @media (min-width: 1366px){
    .projects .collections ul {
        display: block;
        margin: auto;
        max-width: 1276px;
    }
    .collections li:first-of-type {
        width: 702px;
        height: 532px;
    }
    .collections li {
        float: left;
        margin: 11px 15px 10px 15px;
    }
    .collections li img.big {
        width: 702px;
        height: 532px;
    }
    .collections li:first-of-type div {
        line-height: 50px;
    }
    .collections li div, .collections li div:first-of-type {
        width: 100%;
        height: 100%;
        line-height: 1.2;
    }
    .collections li:first-of-type a span {
        font-size: 50px;
    }
    
    }
    
    @media (min-width: 1700px){
    .projects .collections ul {
        max-width: 1700px;
    }}
    #hidetxt {
        display: none;
    }
    #hidetxt a, #readtxt a{
        color: #000000;
        font-weight: 500;
        border-bottom: 1px solid #000000;
        padding-bottom: 8px;
    }
    p:has(span.mute:not(.show)):after{
        content: "...";
    }
    .show + #readtxt {
        display: none;
    }
     .show ~ #hidetxt {
        display: block;
    }
   
    
	
	.color_gray_text{
		color:#828282 !important;
	}
	.color_gray_button{
		color:#14010C !important;
	}

	
	.home-demo h2 {
		color: #FFF;
		text-align: center;
		padding: 5rem 0;
		margin: 0;
		font-style: italic;
		font-weight: 300;
	}
	
	.w_aroww{
		width: 10%;
	}
			
	.butt_bord{
		border-bottom: 1px solid #000;
	}	
	.slick-slide img {
    display: inline-block !important;
	}

.accordion-button.my_accordion::after{
	background-image:none !important;
}
.accordion-button:not(.collapsed) {
	color:black !important;
	background-color:transparent !important;
}
.owl-theme.my_owl .owl-nav [class*=owl-]{
	background:transparent !important;
}
.font_style_20px{
	font-size:20px;
}
.morecontent span {
    display: none;
}
.morelink {
    font-weight: bold;
    color: #4682b4;
}



@media screen and (max-width: 599px) {

	.my_size_font_style_form{
		font-size:24px
	}
}

@media (min-width: 601px) and (max-width: 720px) {

	.font_style_28px{
		font-size:26px !important;
	}
}

@media (min-width: 721px) and (max-width: 960px) {

	.font_style_28px{
		font-size:26px !important;
	}
	
}
@media (min-width: 961px) and (max-width: 1140px) {
	
	.font_style_28px{
		font-size:28px !important;
	}
	
}

@media (min-width: 1141px) {
	

	.font_style_28px{
		font-size:28px !important;
	}
	
}
@media (min-width: 1300px) {

	
	.font_style_28px{
		font-size:28px !important;
	}
}


@media (min-width: 1400px) {

	.font_style_28px{
		font-size:28px !important;
	}
}


	.butt_bord_gray{
	  border-bottom: 1px solid #828282;
	}
	
	
	.font_style_28px{
		font-family:'Inter' !important;
		font-weight:300;
	}
	
	.font_catalog{
		text-align: justify;
		color: black;
		font-family: 'Inter' !important;
	}
	.my_accordion{
		font-family:'Inter' !important;
	}
	
	