/*.expecto-callback-btn-wrapper {display: none !important;}*/

.p-wrapper{background:white!important}

.s-lower_ul{list-style-type: '- '!important;}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
.s-about_text{font-size:20px!important; font-weight:normal!important;}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-regular.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-medium.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-medium.woff2') format('woff2');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-semibold.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-semibold.woff2') format('woff2');
  font-style: semibold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-bold.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-bold.woff2') format('woff2');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
	font-family: 'Bebas Neue Cyrillic';
	src: url('fonts/BebasNeueCyrillic.woff') format('woff'),
		url('fonts/BebasNeueCyrillic.woff2') format('woff2');
	font-style: bold;
	font-weight: 700;
	font-display: swap;
}



@font-face {
	font-family: "Central Display DEMO";
	font-style: normal;
	font-weight: 400;
	font-display: swap;

	/* Браузер сначала попробует найти шрифт локально */
	src: local("Central Display DEMO"),
		local("Central Display DEMO Regular"),
		/* Если не получилось, загрузит woff2 */
		url("fonts/CentralDisplayDEMORegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("fonts/CentralDisplayDEMORegular.woff") format("woff");
}

#ideology{font-size:40px; font-weight:bold;}

.p-section--main {
	position: relative;
}

.banner_texts {
	z-index: 999;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.banner_text-img{
	width: 60vw;
    height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.banner_text {
	font-family: "Central Display DEMO", sans-serif !important;
	font-size: 6vw;
	line-height:-1px;
	font-weight: 500;
	text-align: center;
	color:#fff;
	white-space: nowrap;
}

.fa-check-circle-o:before {
    content: "\f05d";
}
.fa-eye:before{content: "\f06e";}

body, html* {
    height: 100%;
}
 footer ul{
    margin: 0;
    padding: 0;
}
.modal-content {
	z-index: 1500;
}
.modal-backdrop {
	z-index: 500!important;
}
.social__zen {
    background-color: #fff;
    border-radius: 50%;
}
.footer_title {
	color:#ffcc66;
}
.fotul {
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-size: 18px !important;

}
.fotul li a:hover {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    transform: translateX(15%) scale(1.2);
    display: block;
} 
.row {
	justify-content: center;
}
.fs-4.pe-3 {
	padding-right: 0!important;
}
.fotul h2 {
    font-size: 22px !important;
    margin-bottom: 10px;
    letter-spacing: normal;
    font-weight: 600!important;
}
.fotul li a {
    color: #FFF!important;
    padding: 4px 0 3px 0;
    text-decoration: none;
	font-weight: 600;
}
.proekty-title{
	text-align: center;
	margin-top: 60px;
}
.terms-of-use {
	position: relative;
}
.custom__input {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 2px solid #fff;
	left: 28.5%;
	background-color: #040c26;
	display: none;
}
.terms-of-use__input[type="checkbox"]:checked+.custom__input{
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='8.27942' y1='13.6671' x2='15.9704' y2='1.46674' stroke='white' stroke-width='2'/%3E%3Cline x1='8.56516' y1='15.0287' x2='1.43975' y2='10.2091' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.footer__social {
	display: flex;
	justify-content: center;
	padding: 20px 0 ;
}
.social_icon {
	-webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
	 transform: scale(1);
}
.social_icon:hover {
	-webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
	 transform: scale(1.5);
}

.navbar-logo-img:hover {
	fill: #ffcc66;
}
.navbar-logo-img:hover.cls-2{fill:#ffcc66;}
.arhion-title--background {
	margin-top: 50px;
}
.item-card {
	background-color: rgb(67, 80, 97);
	color: #fff
}
.links2 img {
    width: 32px;
    height: 32px;
}
del {
	position: relative;
	text-decoration: none;
}
a:hover {color: #ffcc66;}
del:before {
	content: "";
	border-bottom: 3px solid red;
	position: absolute;
	width: 100%;
	height: 50%;
	transform: rotate(-12deg);
	left: 0;
}
del:after {
	content: "";
	border-bottom: 3px solid red;
	position: absolute;
	width: 100%;
	height: 50%;
	transform: rotate(12deg);
	left: 0;
}
.btn-gold {
    background: linear-gradient(to bottom, #ffcc66 20%, #996633 100%);
    border: 1px solid #737373 !important;
}
.btn-gold:hover{
    background: linear-gradient(to bottom, #ffcc66 20%, #663300 100%);
}



.nav-link.nav-link--feedback {
	margin-top: 17px
}
.nav-social {
	margin-top: 13px;
}
.m-banner_image.main-image {
	object-fit: cover;
	min-width: auto;
	min-height: auto;
	width: 100%;
	height: 100%;
}
.pr_prefooter.prefooter {
	background-image: none!important;
	background-color: #040c26;
}

.carousel-control-prev-icon.prev-icon {
	background-image: url('img/main/arrow.png');
	width: 4rem;
	height: 4rem;
}
.carousel-control-next-icon.next-icon {
	background-image: url('img/main/arrow.png');
	transform: scale(-1,1);
	width: 4rem;
	height: 4rem;
}
a {
	text-decoration: none!important;
}
#under_menu{
text-transform: uppercase;
white-space: nowrap;
}

.text-behind {
	font-family: "Inter", sans-serif;
	font-weight: 700;
	font-size: 70px;
	text-transform: uppercase;
	text-align: center;
	color: rgba(167, 139, 115, 0.1);
	position: absolute;
	top: 40px;
}

.description-title {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: #fff;
}

.block_container {
  max-width: 1920px;
  padding: 4rem 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.block_container--wide {
  padding: 4rem 3rem;
}

.block_container--accentcolor {
  background: rgba(241, 235, 230, 0.72);
}

.block_container--dark {
  background: #343536;
}

.text_20-400 {
  color: #14010C;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.header {
  position: absolute;
  box-sizing: border-box;
  z-index: 101;
  width: 100%;
  padding: 16px 20px 12px 80px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #14010C;
}

.header--white {
  border-bottom: 1px solid #FFFFFF;
}
.header--white .header__icons img {
  filter: invert(1);
}
.header--white p {
  color: #FFFFFF;
}

.header__content {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 6.2rem;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 20px;
}
.header__icons a {
  transition: 0.25s;
}
.header__icons a:hover {
  transform: scale(1.1);
}
.header__icons a:active {
  transform: scale(0.95);
  transition: 0.05s;
}

.logo {
  height: 3.5rem;
}

.intro {
  background: #C4C4C4;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.intro__rect {
  margin: auto 0 auto 7%;
  width: 26.125rem;
  height: 35.6875rem;
  border: 6px solid #A78B73;
}

.intro__rect--white {
  border: 6px solid rgb(246, 243, 241);
}

.intro__title {
  margin: 7rem 0 0 9.3rem;
  color: #FFF;
  text-shadow: 2px 2px 7px #000;
  font-family: "Inter", sans-serif;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6.3rem;
}

.intro__title--type2 {
  margin: 2.2rem 0 0 9.3rem;
  line-height: normal;
}

.intro__subtitle {
  margin: 0 0 0 9.3rem;
  color: #FFF;
  text-shadow: 2px 2px 7px #473B30;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

.intro_solid {
  width: 100%;
  padding-top: 13.6rem;
  background: #A78B73;
  display: flex;
}

.intro_solid__card-inset {
  width: 100%;
  max-width: 82.5rem;
  max-height: 11.875rem;
  margin: 0 auto;
  background: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
}
.intro_solid__card-inset::after {
  content: "";
  display: block;
  background: url(../assets/masks/inset_intro_mask.png) 100%;
  width: 100%;
  height: 100%;
  max-height: 11.875rem;
  max-width: 26.375rem;
  position: absolute;
  top: 0;
}
.intro_solid__card-inset img {
  height: 100%;
  width: 100%;
  max-height: 11.875rem;
  max-width: 26.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro_solid__card-inset p,
.intro_solid__card-inset h1 {
  margin-left: 3.3rem;
  color: #343536;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.intro_solid_mobile {
  width: 100%;
  padding: 3.7rem 16px 0 16px;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.intro_solid_mobile h1 {
  color: #343536;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  /* 133.333% */
}
.intro_solid_mobile p {
  color: #343536;
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.intro_simple {
  width: 100%;
  padding: 3.7rem 16px 0 16px;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.intro_simple h1 {
  color: #343536;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  /* 133.333% */
}
.intro_simple p {
  color: #343536;
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.block_title {
  font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 100%;
	color: #343536;
}

.block_title-above {
  color: rgba(167, 139, 115, 0.1);
  font-family: "Inter", sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: -1.75rem;
}

.block_title-above--deep {
  margin-bottom: -2rem;
}

.block_title-above--deeper {
  margin-bottom: -3.75rem;
}

.block_title-above--font6rem {
  font-size: 6rem;
}

.block_title-sub {
	font-family: "Montserrat", sans-serif;
  font-weight: 400;
	font-size: 20px;
	text-align: justify;
	color: #343536;
  /* 140% */
  margin-top: 2rem;
}

.block_title-sub--margin25 {
  margin-top: 2.5rem;
}

.block_title-sub_link {
  margin-top: 0.6rem;
  text-decoration: underline;
  color: #828282;
  font-size: 1.25rem;
  transition: 0.4s;
}
.block_title-sub_link:hover {
  filter: brightness(0.5);
}

.block_inset {
  max-height: 19.875rem;
  position: relative;
  background: #A78B73;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.block_inset::after {
  content: "";
  display: block;
  background: url("img/inset_mask.png") 100%;
  width: 100%;
  height: 100%;
  max-height: 19.875rem;
  max-width: 30.875rem;
  position: absolute;
  top: 0;
}

.block_inset__image {
  height: 100%;
  width: 100%;
  max-height: 19.875rem;
  max-width: 30.875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.block_inset__text {
  margin-left: 34px;
  max-width: 44.75rem;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.block_team {
  margin-top: 2.5rem;
}

.block_team__workers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.8rem;
}

.block_team__workers-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  gap: 1.8rem;
}

.block_team__worker-photo {
  max-height: 26.7rem;
  width: 100%;
}

.block_team__reviews_tile {
  display: flex;
  flex-direction: column;
}
.block_team__reviews_tile p {
  color: #3A3838;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.5375rem;
  white-space: nowrap;
}
.block_team__reviews_tile b {
  color: #6D7D7D;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 4.375rem;
  font-weight: 400;
  white-space: nowrap;
}

.block_team__reviews_stars {
  margin-top: 1rem;
  max-height: 3.5rem;
}

.block_team__reviews_avatars {
  margin: auto auto 1rem auto;
  max-height: 4.8rem;
}

.block_team__brands {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.block_team__brands img {
  max-height: 12.5rem;
  min-width: 0;
}

.block_list_item {
  padding: 2rem 0 3rem;
  display: flex;
  justify-content: space-between;
}

.block_list_item__name {
  margin-top: 1rem;
  color: #343536;
  font-size: 2.5rem;
}

.block_list_item__contentbox {
  color: #343536;
  font-size: 1.25rem;
  max-width: 58%;
  display: flex;
  flex-direction: column;
}
.block_list_item__contentbox p {
  margin-bottom: 4.5rem;
}

hr {
  width: 100%;
  height: 1px;
  background: #A78B73;
  border: none;
}

.block_auto-slider {
  width: 100%;
  max-height: 32rem;
  max-width: 1920px;
  overflow: hidden;
  margin: 4rem auto;
  display: flex;
  flex-wrap: nowrap;
}

.block_auto-slider__item {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block_steps_carousel {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 12px;
  margin: 1.25rem -5rem 1.75rem -12px;
}

.block_steps_item {
  position: relative;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  padding: 11.25rem 3rem 9.9rem;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 35.3rem;
  max-width: 35.3rem;
  max-height: 44.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.block_steps_item__number {
  position: absolute;
  color: rgba(167, 139, 115, 0.4);
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 43.75rem;
  font-weight: 700;
  opacity: 0.2;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}

.block_steps_item__title {
  color: #343536;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
}

.block_steps_item__content {
  color: #343536;
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.projects-carousel {
  margin: 1.75rem -12px 1.5rem -12px;
  padding: 12px;
  display: flex;
  gap: 1.9rem;
  overflow: hidden;
}

.projects-container {
  margin: 1.75rem -12px 1.5rem -12px;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.9rem;
}
.projects-container .project-card {
  min-width: unset;
}

.more_link {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem auto 0 auto;
  color: #14010C;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.project-card {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  padding-bottom: 2.25rem;
  min-width: 54rem;
  max-width: 54rem;
  display: flex;
  flex-direction: column;
}
.project-card p {
  color: #343536;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
}
.project-card b {
  color: #343536;
  font-size: 1.5rem;
  font-weight: 500;
}
.project-card .think {
  font-weight: 300;
}
.project-card .icon_holder {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.project-card__image {
  width: 100%;
}

.project-card__indicators {
  margin: 1rem auto 1rem !important;
}

.project-card__line2 {
  padding: 0 1.25rem 0 1.25rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.project-card__line2 b {
  font-size: 1.25rem;
  font-weight: 700;
}

.project-card__line3 {
  padding: 0 1.25rem 0 1.25rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card__info-line {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.project-card__icons-line {
  display: flex;
  gap: 0.5rem;
}

.project-card__text1 {
  padding: 0 1.25rem 0 1.25rem;
  margin-top: 1.5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 500;
}

.project-card__favorite {
  max-height: 30px;
  transition: 0.3s;
}
.project-card__favorite:hover {
  transform: scale(1.25);
}

.block_checks__container {
  margin-top: 2.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 15.6rem;
}

.block_checks__container--type2 {
  gap: 2.5rem 0;
}

.block_checks_order {
  grid-row: 1/6;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
}

.block_checks_order__info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2rem;
  font-family: "Inter", sans-serif;
}
.block_checks_order__info p {
  color: #A78B73;
}
.block_checks_order__info b {
  color: #343536;
  display: flex;
  gap: 1rem;
}

.block_checks__item {
  color: #343536;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  display: flex;
  gap: 1.44rem;
}
.block_checks__item img {
  margin-top: 0.25rem;
  max-height: 2rem;
  height: 100%;
}

.block_checks__item--font2 {
  font-size: 2rem;
  line-height: 3rem;
  max-height: 40px;
  /* 150% */
}

.block_gradient {
  padding-left: 5rem;
  max-width: 1920px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  height: 43.2rem;
  position: relative;
}

.block_gradient--topdown-mask::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../assets/masks/gradient_topdown_mask.png);
  background-size: cover;
  max-width: 52%;
  width: 100%;
  height: 100%;
}

.block_gradient__content {
  display: flex;
  flex-direction: column;
  padding: 3.75rem 0;
}
.block_gradient__content .block_title-sub {
  max-width: 45.2rem;
}

.block_gradient__button {
  margin-top: auto;
}

.block_gradient__image {
  -webkit-mask-image: linear-gradient(-90deg, #FFF 21.83%, transparent);
          mask-image: linear-gradient(-90deg, #FFF 21.83%, transparent);
  position: absolute;
  right: 0;
  max-width: 52%;
  height: 43.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.block_gradient__mark {
  margin-top: 1.5rem;
  line-height: normal;
}
.block_gradient__mark b {
  color: #A78B73;
  font-size: 2.375rem;
  font-weight: 500;
}
.block_gradient__mark p {
  color: #343536;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.125rem;
}

.selector {
  margin-top: 2.5rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.selector-45rem {
  margin-top: 4.5rem;
}

.selector__items_container {
  display: flex;
  flex-direction: column;
}

.selector__item {
  color: #343536;
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
  transition: 0.6s;
  cursor: pointer;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem 0;
}
.selector__item img {
  transition: 0.8s;
  width: 2.1rem;
}
.selector__item:hover {
  font-size: 2rem;
  line-height: 2rem;
}
.selector__item.active {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  /* 125% */
}
.selector__item.active img {
  width: 3.5rem;
}

.selector_content-checks {
  width: 100%;
  max-width: 63.7rem;
}
.selector_content-checks .block_checks__item {
  font-family: unset;
  font-size: 1.25rem;
  gap: 1.25rem;
  line-height: 1.75rem;
}
.selector_content-checks .block_checks__container {
  gap: 1rem 8rem;
}
.selector_content-checks .block_checks__item img {
  max-height: 1.43rem;
}

.selector_content-checks__title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.selector_content-checks__text {
  text-align: justify;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.selector_content-includes {
  margin: 0 auto;
}
.selector_content-includes .button_type2 {
  max-width: 25rem;
  max-height: 5rem;
  margin-top: 1.5rem;
}
.selector_content-includes .button_type2 p {
  transform: translateY(-50%);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.selector_content-includes__price {
  font-family: "Inter", sans-serif;
  color: #A78B73;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.selector_content-includes__text {
  color: #14010C;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 2.5rem;
}

.selector_content-includes__checks_container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selector_content-includes__check_item {
  color: #343536;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  display: flex;
  gap: 1.25rem;
  margin-left: 0.6rem;
}
.selector_content-includes__check_item img {
  max-height: 1.43rem;
  height: 100%;
}

.selector_content-info {
  width: 100%;
  max-width: 39.375rem;
  margin: 0 auto;
}
.selector_content-info .button_type2 {
  max-width: 25rem;
  max-height: 5rem;
  margin-top: 2.5rem;
}
.selector_content-info .button_type2 p {
  transform: translateY(-50%);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.selector_content-info__title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

.selector_content-info__text {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 3rem;
}

.block_qanda hr {
  background: #343536;
}

.block_qanda_container {
  color: #343536;
}

.block_qanda__item {
  padding: 2rem 0;
}

.block_qanda_item_title {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.block_qanda_item_title img {
  transition: 0.5s;
  transform: rotate(180deg);
}

.block_qanda_item_summary {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 2rem;
}

.block_consult {
  padding: 5rem;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
.block_consult input {
  height: 2rem;
  color: #969696;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
  width: 26.625rem;
  border-bottom: 1px solid #343536;
  background: transparent;
  padding: 0;
}

.button_type1--min {
  max-width: 14.4rem;
  max-height: 1.8rem;
}
.button_type1--min p {
  top: 50%;
  font-size: 1.25rem;
  line-height: 1.375rem;
}
.button_type1--min svg {
  height: 100%;
}

.block_consult__text {
  color: #343536;
  text-align: justify;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: normal;
  margin-top: 2.5rem;
}

.block_consult__plate {
  max-height: 27.8rem;
  min-width: 0;
  margin: auto;
}

.block_consult__content {
  display: flex;
  flex-direction: column;
}

.block_consult__feedback_container {
  display: flex;
  margin-top: 2rem;
  gap: 11.2rem;
}

.block_consult__contacts {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.block_consult__contact-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.block_consult__contact-item p {
  font-size: 1.25rem;
  line-height: 1.375rem;
}
.block_consult__contact-item img {
  max-height: 1.875rem;
}

.block_stats__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0 1.8rem;
  margin-top: 2.5rem;
}
.block_stats__container img {
  min-width: 0;
  width: 100%;
}

.block_stats__tile_long {
  grid-row: 1/3;
}

.block_stats__stats {
  display: flex;
  justify-content: space-around;
  grid-column: 3/7;
}
.block_stats__stats p {
  color: #3A3838;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.43rem;
}
.block_stats__stats b {
  color: #6D7D7D;
  font-family: "Inter", sans-serif;
  font-size: 4.375rem;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}

.block_stats__stat_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.block_text {
  padding-top: 0;
}

.year_selector {
  width: 100%;
  max-width: 82.5rem;
  margin: 0 auto;
  border: 1px solid #F1EBE6;
  box-sizing: border-box;
  padding: 1.25rem 3.75rem;
}

.year_selector__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.year_selector__container p {
  color: #14010C;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.year_selector__container p.active {
  color: #A78B73;
  font-weight: 900;
}

.projects-text {
  color: #343536;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.footer {
  background: #343536;
  color: #F7F7F9;
  position: relative;
  display: flex;
  justify-content: center;
  height: unset;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer_container {
  padding: 0 10rem 0 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
}

.footer__group {
  position: absolute;
  left: 50%;
  bottom: 2.5rem;
  transform: translateX(-50%);
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer__text-block {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.footer__text-block--375 {
  margin-top: 3.75rem;
}

.footer__link {
  position: relative;
  margin-right: auto;
}
.footer__link::after {
  content: "";
  display: block;
  position: absolute;
  background: #F7F7F9;
  height: 1px;
  width: 0;
  bottom: 0;
  transition: 0.5s;
}
.footer__link:hover::after {
  width: 100%;
}

.footer__mini-text {
  font-size: 0.75rem;
  line-height: 1rem;
}

.footer__worktime {
  font-size: 0.81rem;
  line-height: 1.37rem;
  /* 169.231% */
}

.footer__link_blocks {
  display: flex;
  gap: 9.5rem;
  margin-top: 3.75rem;
}

.footer__links-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__social {
  display: flex;
  gap: 1rem;
  margin: 3.8rem 0 2.5rem auto;
}
.footer__social img {
  max-height: 2.25rem;
  transition: 0.3s;
}
.footer__social img:hover {
  transform: scale(1.1);
}

.button_type1 {
  display: flex;
  position: relative;
}
.button_type1 p {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #343536;
}
.button_type1 .hoverRect {
  fill: transparent;
  transition: 0.3s;
	transition: 1s;
}
.button_type1:hover .hoverRect {
  background: var(--gold, #A78B73);
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid black;
  transition: 1s;
}

.button_type2 {
  display: flex;
  position: relative;
  max-height: 11.58rem;
  max-width: 44.6rem;
  margin-top: auto;
}
.button_type2 p {
  top: 50%;
  transform: translateY(-3rem);
  position: absolute;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #14010C;
	font-family: "Montserrat", sans-serif;
}
.button_type2 .hoverRect {
  fill: transparent;
  transition: 0.25s;
}
.button_type2:hover .hoverRect {
  fill: #A78B73;
}
.button_type2 svg {
  height: 100%;
}

.button_circle {
  display: flex;
  position: relative;
  max-height: 17.8rem;
  max-width: 25rem;
}
.button_circle svg {
  height: 100%;
}
.button_circle p {
  top: 52%;
  transform: translateY(-50%);
  margin-left: 2.3rem;
  position: absolute;
  color: #343536;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.button_circle .hoverRect {
  fill: transparent;
  transition: 0.25s;
}
.button_circle:hover .hoverRect {
  fill: #A78B73;
}

.button_circle--solidwhite .hoverRect {
  fill: #FFFFFF;
}

.slide_indicators {
  display: flex;
  gap: 8px;
  margin: 0 auto;
}

.slide_indicators__item {
  width: 24px;
  height: 4px;
  border-radius: 16px;
  background: #D8D8D8;
  transition: 0.2s;
}
.slide_indicators__item.active {
  background: #969696;
}

.only-mobile {
  display: none;
}

.text_price_sale {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 129%;
	text-decoration: line-through;
	color: #14010c;
	margin-right: 8px;
}

.sale-mark {
	top: -20px;
	left: -10px;
	z-index: 99;
}

.sale-img {
	width: 60px;
	height: 60px;
}

.aboutus {
	background: #f1ebe6;
	padding: 50px 80px;
	height: 1050px;
}

.logo-text {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 182px;
	text-transform: uppercase;
	color: #a78b73;
	margin-top: 150px;
}

.doc-text {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 26px;
	line-height: 115%;
	color: #343536;
}


.rateDivider {
	background: rgba(241, 235, 230, 0.72);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 80px;
	gap: 100px;
}

.rateNumber {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 70px;
	text-align: center;
	color: #6d7d7d;
}

.rateText {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 0.43em;
	text-align: center;
	color: #3a3838;
	margin-top: 25px;
}

.footer-end {
	padding-bottom: 30px;
	margin-top: -40px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #f7f7f9;
}


.labelText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  color: #000;
}

.form-check-input:checked[type=checkbox] {
  background-image:url('data:image/svg+xml,<svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.81189 7.71425L0 0.885048L0.882847 0L7.50012 6.63409L14.1174 0L15 0.885048L8.1881 7.71425C7.80808 8.09525 7.19192 8.09525 6.81189 7.71425Z" fill="white"/></svg>') !important;
  background-color: #a78b73 !important;
  border-color: #a78b73 !important;
}

.deleteButton  {
  cursor: pointer;
}

.bigCheck {
  width: 30px !important;
  height: 30px !important;
}

.cartTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #343536;
}

.cartText {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #828282;
}

.cartPrice {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 107%;
  color: #a78b73;
}

.cartPrice span {
  font-weight: 400;
}

.count {
  border: 1px solid #bdbdbd;
  width: 40px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #828282;
}

.minus, .plus {
  cursor: pointer;
}

.cartButton {
  background: #a78b73;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  padding: 30px;
}

.cartEndTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #343536;
}

.cartEndPrice {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #343536;
}

.cartEndPrice span {
  font-weight: 400;
}

.cartInput {
  width: 25%;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #343536;
}

.otboinik-container {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #a78b73;
}

.otboinikImg {
  position: relative;
  top: -60px;
}

.otbornikPadding {
  padding-left: 50px;
  padding-right: 50px;
}

.otboinik-wrapper {
  position: absolute;
}

.otboinikTitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #000;
}

.otboinikDesc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000;
}

.otbornikInfo {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}

.otbornikInfo span {
  font-weight: 400;
  cursor: pointer;
}

.otbornikLink {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline !important;
  text-decoration-skip-ink: none;
  color: #a78b73;
  cursor: pointer;
}

.projectInfo {
  width: 60%;
}

.otboinik-border {
  border-bottom: 1px solid #000;
}

.otboinik-footer-line {
  border: 2px solid #a78b73;
}

.otboinik-footer-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  color: #000;
  margin-top: 20px;
}

.intro-container {
  margin: auto 0 auto 2%
}

.intro-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 100px;
  line-height: 87%;
  color: #fbfbfb;
}

.intro-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #fbfbfb;
}

.block_title-sub_link {
  font-family: "Montserrat", sans-serif;
  margin-top: 0.6rem;
  text-decoration: underline !important;
  color: #828282;
  font-size: 1.25rem;
  transition: 0.4s;
}

a {
  text-decoration: none;
}

#detailed_text {
  display: none;
}

@media screen and (max-width: 557px) {

	.title_arhion {
    color: var(--gold, #A78B73);
    text-align: center;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    font-family: Stick No Bills;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-family: 'StickNoBills';
}




	.header-top_desc {
		font-size: 14px;
		margin: 0 0 12px 0;
	}

	.b-social__item_h {
		margin: 0px 7px;
	}

	.s-wrap_desc_list li span {
		text-decoration: none;
	}

	.s-wrap_desc_list li {
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		text-decoration: none;
	}

	.s-about_text {
		text-align: center;
		text-align: justify;
	}

	._orinationLeft_3O.wrap_mW {
		left: 267px;
		bottom: 83px;
	}

	.p-section_inner .--rz {
		padding-right: 10px;
	}

	.p-section_inner .s-wrap_desc_list li {
		margin-top: 10px;
	}

	.p-section_inner .s-wrap_desc_list li span {
		text-decoration: none;
	}

	.p-section_inner .s-wrap_desc_list {
		padding: 0 0 0px 15px;
	}

	.PIN_1583335962742_button_pin.PIN_1583335962742_tall.PIN_1583335962742_save {
		display: none;
	}

	.c-home_sort .frm {
		margin-top: -22px;
	}

	.pr-price_head {
		font-size: 30px;
	}

	.catalog__list-main {
		position: relative;
		margin-bottom: 5px;
		z-index: 1;
		overflow: hidden;
	}

	.catalog__price--old {
		margin-left: 3%;
	}

	.form_order_modal form {
		width: 100%;
	}
    .about-us_content {
        width: 100% !important;
        margin-right: 0 !important;
    }
	.about-us_head {
		font-size: 22px;
		margin: 0px 0px 0 -52px;
	}

	.about-us_desc {
		margin: 7px 0px 0 -54px;
		width: 254px;
	}

	.s-about_text {
		text-align: justify;
	}

	.header__title-bot {
		font: inherit;
		font-size: 24px;
		width: 309px;
		margin: 0px 0 0 -78px;
	}
	.c-inner_fillial {
		margin: 0px 0 10px 30px;
	}
}
.p-wrapper{background:white!important}

.s-lower_ul{list-style-type: '- '!important;}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
.s-about_text{font-size:20px!important; font-weight:normal!important;}
#ideology{font-size:40px; font-weight:bold;}
.fa-check-circle-o:before {
    content: "\f05d";
}
.fa-eye:before{content: "\f06e";}

body, html* {
    height: 100%;
}


#main {margin: 0 auto; text-transform: uppercase;}

body {
    line-height: 18px;
    --bs-body-color: #435061;
    background: #ebf0f4
}

.col-sm a{text-transform: uppercase;white-space: nowrap;}
@media only screen and (max-width: 800px) {.ss{font-size:0px!important;}

@media (max-width:982px) {
	.banner_text-img{
		min-width:750px;
		height: auto;
	}
	.banner_text{
		font-size: 8vw;
	}
}
@media (max-width: 910px) {
    .banner_text-img{
        min-width:700px;
    }
}
@media (max-width: 768px) {

	.banner_text-img{
    min-width:550px;
  }



}
@media (max-width: 628px) {
	.banner_text-img{
		min-width:480px;
    }
}
@media (max-width: 574px) {
    .banner_text-img {
        min-width: 420px;
    }
}
@media (max-width: 481px) {
    .banner_text {
		font-size: 8.5vw;
	}
    .banner_text-img {
        min-width: 380px;
    }
}
@media (max-width: 408px) {
	.banner_text-img{
		min-width:300px;
    }
}
}