/*.expecto-callback-btn-wrapper {display: none !important;}*/

.p-wrapper{background:white!important}

.s-lower_ul{list-style-type: '- '!important;}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
.s-about_text{font-size:20px!important; font-weight:normal!important;}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-regular.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-medium.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-medium.woff2') format('woff2');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-semibold.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-semibold.woff2') format('woff2');
  font-style: semibold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('fonts/CormorantGaramond/cormorantgaramond-bold.woff') format('woff'),
    url('fonts/CormorantGaramond/cormorantgaramond-bold.woff2') format('woff2');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
	font-family: 'Bebas Neue Cyrillic';
	src: url('fonts/BebasNeueCyrillic.woff') format('woff'),
		url('fonts/BebasNeueCyrillic.woff2') format('woff2');
	font-style: bold;
	font-weight: 700;
	font-display: swap;
}



@font-face {
	font-family: "Central Display DEMO";
	font-style: normal;
	font-weight: 400;
	font-display: swap;

	/* Браузер сначала попробует найти шрифт локально */
	src: local("Central Display DEMO"),
		local("Central Display DEMO Regular"),
		/* Если не получилось, загрузит woff2 */
		url("fonts/CentralDisplayDEMORegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("fonts/CentralDisplayDEMORegular.woff") format("woff");
}

#ideology{font-size:40px; font-weight:bold;}

.p-section--main {
	position: relative;
}

.banner_texts {
	z-index: 999;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.banner_text-img{
	width: 60vw;
    height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.banner_text {
	font-family: "Central Display DEMO", sans-serif !important;
	font-size: 6vw;
	line-height:-1px;
	font-weight: 500;
	text-align: center;
	color:#fff;
	white-space: nowrap;
}

.fa-check-circle-o:before {
    content: "\f05d";
}
.fa-eye:before{content: "\f06e";}

body, html* {
    height: 100%;
}
 footer ul{
    margin: 0;
    padding: 0;
}
.modal-content {
	z-index: 1500;
}
.modal-backdrop {
	z-index: 500!important;
}
.social__zen {
    background-color: #fff;
    border-radius: 50%;
}
.footer_title {
	color:#ffcc66;
}
.fotul {
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-size: 18px !important;

}
.fotul li a:hover {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    transform: translateX(15%) scale(1.2);
    display: block;
} 
.row {
	justify-content: center;
}
.fs-4.pe-3 {
	padding-right: 0!important;
}
.fotul h2 {
    font-size: 22px !important;
    margin-bottom: 10px;
    letter-spacing: normal;
    font-weight: 600!important;
}
.fotul li a {
    color: #FFF!important;
    padding: 4px 0 3px 0;
    text-decoration: none;
	font-weight: 600;
}
.proekty-title{
	text-align: center;
	margin-top: 60px;
}
.terms-of-use {
	position: relative;
}
.custom__input {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 2px solid #fff;
	left: 28.5%;
	background-color: #040c26;
	display: none;
}
.terms-of-use__input[type="checkbox"]:checked+.custom__input{
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='8.27942' y1='13.6671' x2='15.9704' y2='1.46674' stroke='white' stroke-width='2'/%3E%3Cline x1='8.56516' y1='15.0287' x2='1.43975' y2='10.2091' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.footer__social {
	display: flex;
	justify-content: center;
	padding: 20px 0 ;
}
.social_icon {
	-webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
	 transform: scale(1);
}
.social_icon:hover {
	-webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
     -o-transition: all 0.6s ease;
     transition: all 0.6s ease;
	 transform: scale(1.5);
}

.navbar-logo-img:hover {
	fill: #ffcc66;
}
.navbar-logo-img:hover.cls-2{fill:#ffcc66;}
.arhion-title--background {
	margin-top: 50px;
}
.item-card {
	background-color: rgb(67, 80, 97);
	color: #fff
}
.links2 img {
    width: 32px;
    height: 32px;
}
del {
	position: relative;
	text-decoration: none;
}
a:hover {color: #ffcc66;}
del:before {
	content: "";
	border-bottom: 3px solid red;
	position: absolute;
	width: 100%;
	height: 50%;
	transform: rotate(-12deg);
	left: 0;
}
del:after {
	content: "";
	border-bottom: 3px solid red;
	position: absolute;
	width: 100%;
	height: 50%;
	transform: rotate(12deg);
	left: 0;
}
.btn-gold {
    background: linear-gradient(to bottom, #ffcc66 20%, #996633 100%);
    border: 1px solid #737373 !important;
}
.btn-gold:hover{
    background: linear-gradient(to bottom, #ffcc66 20%, #663300 100%);
}



.nav-link.nav-link--feedback {
	margin-top: 17px
}
.nav-social {
	margin-top: 13px;
}
.m-banner_image.main-image {
	object-fit: cover;
	min-width: auto;
	min-height: auto;
	width: 100%;
	height: 100%;
}
.pr_prefooter.prefooter {
	background-image: none!important;
	background-color: #040c26;
}

.carousel-control-prev-icon.prev-icon {
	background-image: url('img/main/arrow.png');
	width: 4rem;
	height: 4rem;
}
.carousel-control-next-icon.next-icon {
	background-image: url('img/main/arrow.png');
	transform: scale(-1,1);
	width: 4rem;
	height: 4rem;
}
a {
	text-decoration: none!important;
}
#under_menu{
text-transform: uppercase;
white-space: nowrap;
}


@media screen and (max-width: 557px) {
	.header-top_desc {
		font-size: 14px;
		margin: 0 0 12px 0;
	}

	.b-social__item_h {
		margin: 0px 7px;
	}

	.s-wrap_desc_list li span {
		text-decoration: none;
	}

	.s-wrap_desc_list li {
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
		text-decoration: none;
	}

	.s-about_text {
		text-align: center;
		text-align: justify;
	}

	._orinationLeft_3O.wrap_mW {
		left: 267px;
		bottom: 83px;
	}

	.p-section_inner .--rz {
		padding-right: 10px;
	}

	.p-section_inner .s-wrap_desc_list li {
		margin-top: 10px;
	}

	.p-section_inner .s-wrap_desc_list li span {
		text-decoration: none;
	}

	.p-section_inner .s-wrap_desc_list {
		padding: 0 0 0px 15px;
	}

	.PIN_1583335962742_button_pin.PIN_1583335962742_tall.PIN_1583335962742_save {
		display: none;
	}

	.c-home_sort .frm {
		margin-top: -22px;
	}

	.pr-price_head {
		font-size: 30px;
	}

	.catalog__list-main {
		position: relative;
		margin-bottom: 5px;
		z-index: 1;
		overflow: hidden;
	}

	.catalog__price--old {
		margin-left: 3%;
	}

	.form_order_modal form {
		width: 100%;
	}
    .about-us_content {
        width: 100% !important;
        margin-right: 0 !important;
    }
	.about-us_head {
		font-size: 22px;
		margin: 0px 0px 0 -52px;
	}

	.about-us_desc {
		margin: 7px 0px 0 -54px;
		width: 254px;
	}

	.s-about_text {
		text-align: justify;
	}

	.header__title-bot {
		font: inherit;
		font-size: 24px;
		width: 309px;
		margin: 0px 0 0 -78px;
	}
	.c-inner_fillial {
		margin: 0px 0 10px 30px;
	}
}
.p-wrapper{background:white!important}

.s-lower_ul{list-style-type: '- '!important;}
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}
.s-about_text{font-size:20px!important; font-weight:normal!important;}
#ideology{font-size:40px; font-weight:bold;}
.fa-check-circle-o:before {
    content: "\f05d";
}
.fa-eye:before{content: "\f06e";}

body, html* {
    height: 100%;
}


#main {margin: 0 auto; text-transform: uppercase;}

body {
    line-height: 18px;
    --bs-body-color: #435061;
    background: #ebf0f4
}

.col-sm a{text-transform: uppercase;white-space: nowrap;}
@media only screen and (max-width: 800px) {.ss{font-size:0px!important;}

@media (max-width:982px) {
	.banner_text-img{
		min-width:750px;
		height: auto;
	}
	.banner_text{
		font-size: 8vw;
	}
}
@media (max-width: 910px) {
    .banner_text-img{
        min-width:700px;
    }
}
@media (max-width: 768px) {

	.banner_text-img{
    min-width:550px;
  }
}
@media (max-width: 628px) {
	.banner_text-img{
		min-width:480px;
    }
}
@media (max-width: 574px) {
    .banner_text-img {
        min-width: 420px;
    }
}
@media (max-width: 481px) {
    .banner_text {
		font-size: 8.5vw;
	}
    .banner_text-img {
        min-width: 380px;
    }
}
@media (max-width: 408px) {
	.banner_text-img{
		min-width:300px;
    }
}
}