.b-content {padding: 57px 15px 2rem;}
@media screen and (min-width: 1200px)
{.b-content {
    padding: 57px 5vh 10px;
}}

.carousel-control-next.my_carousel_main, .carousel-control-prev.my_carousel_main {
	width:10% !important;
}

.title_arhion{
	color: var(--gold, #A78B73);
	text-align: center;
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
	font-family: Stick No Bills;
	font-style: normal;
	font-weight: 700;
	line-height: 280px; /* 100% */
	letter-spacing: 98px;
	text-transform: uppercase;
	font-family: 'StickNoBills'; 
	max-width: 980px;
}


.zoom img {
	width: 100%;
	transform-origin: bottom center;
	animation: grow 150000ms ease;
}
@keyframes grow {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(2.5);
	}
}



@font-face {
	font-family: 'StickNoBills'; 
	src: url('../style/font/StickNoBills-Regular.ttf'); 
}

.list-group-item-action.list-group-item-formstyle {
border-bottom: 2px solid #969696 !important;
}

.kontak_text{
	color: var(--well-done-dark, #343536);
	font-family: Montserrat !important;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}

.kontak_text.btn-submit {
	text-transform: uppercase;
}

.font_consult_text{
	color: var(--well-done-dark, #343536);
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}

.accordion-item {
	border-bottom: 1px solid #343536 !important;
}

.list-group-item-formstyle.active {
	font-weight: 400;
	color: #A78B73 !important; 
	background-color:transparent !important; 
	border-color: transparent  !important;
	border-bottom: 2px solid #A78B73 !important;	
}

	.list-group {		
		flex-direction: inherit !important;
	}
	.list-group-item-formstyle {
		border: 0 !important;
		color: #969696 !important;
		font-family:Montserrat !important;
	}
	.list-group-item-action:focus, .list-group-item-action:hover {
		background-color:transparent  !important; 
	}
	.list-group-item-styles.active_show{
		    color: #14010C !important;
			background-color:transparent !important; 
			border-color: transparent  !important; 
			font-weight: 600 !important;
		
	}
	.list-group-item-styles{
		border:0 !important;
	}
	.list-group-item{
		background-color: transparent  !important; 
		border-color:transparent  !important; 
	}
	
	.list-group-item-styles+.list-group-item-styles.active{
		color: var(--well-done-dark, #343536) !important;
		font-size: 30px !important;
		font-style: normal;
		font-weight: 600;
		white-space: nowrap;
	}
	

.podrobnee{
	color: #828282;
	font-family: Montserrat !important;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
}

.font_title_about_us{
	color: var(--text-dark, #2E2E2E);
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 49px; 
	text-transform: uppercase;
}

.font_consult{
	color: var(--well-done-dark, #343536);
	text-align: justify;
	font-family: Montserrat !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.priceTitle {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #a78b73;
}

.footer-end {
	padding-bottom: 30px;
	margin-top: -40px;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #f7f7f9;
}

@media (max-width: 359px){
	
	.font_title_main{
		font-size: 20px
	}
	.height_block_uslugi{
		height: 928px;
	}
	.description{
		font-size: 16px;
	}
	.block_together_with_us{
		padding: 120px 549px 120px 80px;
	}
	.height_about_us{
		height:724px;
	}
	.square_block_services_pdl{
		padding-left: 90%;
	}
	.but_podrobnee_srvices{
		color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
	}
	.font_title_about_us{
		font-size: 50px;
	}
	.text_block_about_us{
		font-size: 24px;
	}
	.but_view_PDF_about_us{
		font-size:20px;
	}
	.but_podobrat_proect_main{
		font-size: 22px;
	}
	.font-size-24px-styles{
		font-size:24px;
	}
	.font-size-20px-style{
		font-size:20px;
	}
	.font_styles{
		 font-size:20px;
	}
	.font_consult_text{
		font-size:16px;
	}
	.font_consult{
		font-size:16px;
	}
	.kontak_text{
		font-size:16px;
	}
	
	.width_but_make_change{
		width: 170%;
	}
	.title_arhion{
		font-size: 62px;
		max-width: 330px;
	}

	.block_title {
		font-size: 22px !important;
	}
}

@media (min-width: 300px) and (max-width: 575px){

	.button_podbor_square_services  {
		padding: 2rem !important;
	}

	.titlePosition {
		top: 20% !important;
	}


	.title_arhion {
		max-width: 330px;
    color: var(--gold, #A78B73);
    text-align: center;
    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    font-family: Stick No Bills;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 25px;
    text-transform: uppercase;
    font-family: 'StickNoBills';
		font-size: 42px;
}


	.text_slide_main {
		font-weight: 400 !important;
		font-size: 14px !important;
		color: #fff;
		letter-spacing: normal !important;
		line-height: normal !important;
	}

	.text-slide {
		right: 0%;
		left: 40px;
		top: 55% !important;
	}

	.btn-circle-project {
    color: #14010C;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400 !important;
		font-size: 8px !important;
		line-height: 125% !important;
    border: 1px solid #A78B73;
    border-radius: 100%;
    max-height: 60px !important;
		max-width: 60px !important;
		min-height: 60px !important;
		min-width: 60px !important;
    position: relative;
    background-color: #fff;
		padding-left: 2% !important;
    text-transform: uppercase;
    transition: all ease-in-out .3s;
}

.btn-circle-project .static-line-project {
	display: none !important;
}

.btn-circle-project .animation-line-project {
	display: none !important;
}

.arrowImg {
	display: none !important;
}

.buttonOrder {
	right: 0 !important;
	left: 70% !important;
	top: 60% !important;
}

.black-bg {
	background: #14010c !important;
}


.only-mobile {
	display: flex;
}
.only-pc {
	display: none;
}
.logo {
	max-height: 1.8rem;
}
.header {
	padding: 8px 16px 8px 5px;
}
.intro__rect--nomobile {
	border: none;
}
.block_container {
	max-width: 1920px;
	padding: 16px 16px 16px 16px;
}
.block_container--wide {
	padding: 16px 16px 16px 16px;
}
.block_title-above {
	margin-bottom: -0.8rem;
	font-size: 1.875rem;
}
.block_title-above--mobile-mini {
	font-size: 1.5rem;
}
.block_title {
	font-size: 20px !important;
	line-height: normal;
}
.block_title-above--deep {
	margin-bottom: -1.05rem;
	font-size: 34px !important;
}

.bannerPosition {
	top: 30% !important;
}

.aboutusPosition {
	flex-direction: column !important;
}

.rateDivider {
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.rateText {
	font-size: 14px;
	text-align: center;
	margin-top: 0;
}

.rateNumber {
	font-size: 20px;
}

.block_title-above--deeper {
	margin-bottom: -0.75rem;
}
.block_title-sub {
	font-size: 0.875rem;
	line-height: 1.375rem;
	margin-top: 1rem;
}
.block_title-sub_link {
	margin-top: 0.3rem;
	font-size: 0.875rem;
}
.block_title-sub--margin25 {
	margin-top: 1rem;
}
.block_checks__container {
	grid-template-columns: 1fr;
	gap: 1rem 15.6rem;
	margin-top: 1rem;
}
.block_checks__item {
	font-size: 0.875rem;
	gap: 0.5rem;
}
.block_checks__item img {
	max-height: 1rem;
	margin-top: unset;
}
.block_checks__item--font2 {
	line-height: normal;
}
.block_checks_order-mobile {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.block_checks_order-mobile .button_circle {
	max-height: 4.75rem;
	max-width: 5.7rem;
	margin: -1.2rem 1.5rem 0 0;
}
.block_checks_order-mobile .button_circle p {
	font-size: 0.5rem;
	line-height: 0.625rem;
	margin-left: 0.5rem;
}
.block_checks_order-mobile__info {
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.35rem;
	font-family: "Inter", sans-serif;
	color: #A78B73;
}
.block_gradient__image {
	-webkit-mask-image: none;
					mask-image: none;
	max-width: 100%;
	height: 15.875rem;
	z-index: -2;
	margin-top: 2.5rem;
}
.block_gradient {
	padding: 0 1rem;
	height: 18.375rem;
	position: relative;
}
.block_gradient .block_title-sub--margin25 {
	margin-top: 0.3rem;
}
.block_gradient::after {
	content: "";
	display: block;
	position: absolute;
	top: 2.5rem;
	left: 0;
	background: url(../assets/masks/mobile_gradient_mask.png);
	background-position-x: right;
	width: 100%;
	height: 100%;
	z-index: -1;
	right: unset;
	max-width: unset;
}
.block_gradient__content {
	padding: 0.6rem 0 0 0;
}
.block_inset__text {
	font-size: 0.81rem;
	margin-left: 9px;
}
.block_inset::after {
	background: url(../assets/masks/inset_mask-mobile.png) 100%;
	max-height: 5.25rem;
	max-width: 7.9rem;
}
.block_inset {
	max-height: 5.25rem;
}
.block_inset__image {
	max-height: 5.25rem;
	max-width: 7.9rem;
}
.header__icons {
	gap: 20px;
	gap: 8px;
	align-items: center;
}
.header__icons img,
.header__icons svg {
	max-height: 1.5rem;
}
.intro {
	height: 14.1rem;
}
.intro__rect {
	border: 1px solid var(--Gold, #A78B73);
	width: 4.375rem;
	margin: 5.25rem 0 auto 12%;
	height: 6rem;
}
.intro__title {
	margin: 1.2rem 0 0 1.5rem;
	font-size: 1.25rem;
	line-height: normal;
}
.intro__title--type2 {
	margin: 1.2rem 0 0 1.5rem;
}
.block_team__workers {
	display: flex;
	flex-wrap: wrap;
}
.block_team__workers-photos {
	overflow: scroll;
	max-width: 100%;
}
.block_team__worker-photo {
	width: unset;
	max-height: 15.6rem;
	height: 100%;
}
.block_team__reviews_tile {
	width: 100%;
	justify-content: center;
}
.block_team__reviews_tile p {
	font-size: 0.875rem;
	letter-spacing: 0.376rem;
}
.block_team__reviews_tile b {
	font-size: 2.5rem;
}
.block_team__reviews_stars {
	max-height: 1.7rem;
}
.block_team__reviews_avatars {
	margin: 1.84rem auto 1rem auto;
	max-height: 2.3rem;
}
.projects-carousel {
	margin: 0.25rem -12px 1.5rem -12px;
}
.project-card {
	min-width: 18rem;
	max-width: 18rem;
	padding-bottom: 0.34rem;
}
.project-card b {
	font-size: 1rem;
}
.project-card p {
	font-size: 0.75rem;
}
.project-card .icon_holder img {
	max-height: 0.75rem;
}
.project-card__info-line {
	gap: 0.5rem;
}
.project-card__info-line--full {
	padding: 0 0.63rem;
	justify-content: space-between;
}
.project-card__info-line--full .project-card__icons-line {
	gap: 1rem;
}
.project-card__line2 {
	padding: 0 0.63rem;
	margin-top: 0.5rem;
}
.project-card__line3 {
	padding: 0 0.63rem;
}
.project-card__text1 {
	padding: 0 0.63rem;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 1rem;
}
.project-card__indicators {
	margin: 0.5rem auto 0.5rem !important;
}
.project-card__favorite {
	max-height: 1.375rem;
}
.project-card__line2 b {
	font-weight: 500;
	font-size: 0.875rem;
}
.project-card__line2 p {
	font-size: 0.875rem;
}
.block_steps_carousel {
	margin: 1rem -8px 1rem -12px;
}
.block_steps_item {
	padding: 3.75rem 0.9rem 5rem;
	min-width: 18rem;
	gap: 1rem;
}
.block_steps_item__title {
	font-size: 0.875rem;
	line-height: normal;
}
.block_steps_item__content {
	text-align: unset;
	font-size: 0.875rem;
	line-height: normal;
}
.block_steps_item__number {
	transform: unset;
	font-size: 6.25rem;
	top: 0;
	left: 0.7rem;
}
.block_list_item__name {
	font-size: 1.25rem;
}
.block_list_item__contentbox {
	font-size: 0.875rem;
	max-width: unset;
	gap: 1rem;
}
.block_list_item {
	padding: 0.5rem 0;
	flex-direction: column;
	gap: 1rem;
}
.block_list_item__contentbox p {
	margin-bottom: unset;
}
.block_list hr {
	display: none;
}
.block_auto-slider {
	margin: 16px 0;
}
.button_type2 {
	max-height: 4.625rem;
	max-width: 18rem;
}
.button_type2 p {
	transform: translateY(-1.5rem);
	font-size: 1.125rem;
	line-height: normal;
}
.block_qanda_item_title {
	font-size: 1.125rem;
	line-height: 1.625rem;
}
.block_qanda_item_title img {
	max-height: 1.875rem;
}
.block_qanda__item {
	padding: 1rem 0;
}
.block_qanda_item_summary {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-top: 1rem;
}
.projects-container {
	grid-template-columns: 1fr;
	gap: 1rem;
	margin: 0 -12px 1.5rem -12px;
}
.projects-container .project-card {
	max-width: unset;
}
.year_selector {
	padding: 1.25rem 0px 1.9rem 16px;
	border: none;
	padding: 1.25rem 0 0 16px;
}
.year_selector__container {
	gap: 1rem;
	overflow: scroll;
	padding-bottom: 0.5rem;
}
.year_selector__container p {
	font-size: 1.125rem;
}
.header--mobile-default.header--white {
	color: #14010C;
	border-bottom: 1px solid #14010C;
}
.header--mobile-default.header--white .header__icons img {
	filter: unset;
}
.header--mobile-default.header--white p {
	color: #14010C;
}
.block_stats__container {
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0 0.7rem;
	margin-top: 1rem;
}
.block_stats__stats {
	grid-column: 1/4;
	margin-top: 1rem;
}
.block_stats__stats b {
	font-size: 1.875rem;
}
.block_stats__stats p {
	font-size: 0.5rem;
	letter-spacing: 0.215rem;
}
.block_gradient__mark {
	margin-top: 0.3rem;
}
.block_gradient__mark b {
	font-size: 1.125rem;
}
.block_gradient__mark p {
	font-size: 0.875rem;
	line-height: normal;
}
.more_link {
	gap: 0.25rem;
	font-size: 0.875rem;
}
.more_link img {
	max-height: 16px;
}
.footer {
	margin-top: 1rem;
}
.footer_container {
	padding: 0 1rem;
	flex-direction: column;
	justify-content: unset;
}
.footer__text-block {
	margin-top: 1.25rem;
	flex-direction: row;
	align-items: center;
}
.footer__link_blocks {
	gap: 0;
	margin-top: 2rem;
	justify-content: space-between;
}
.footer__link {
	font-size: 0.875rem;
	line-height: 1.125rem;
}
.footer__links-block {
	gap: 1rem;
}
.footer__social {
	margin: 2rem 0 0 0;
}
.footer__group {
	position: unset;
	transform: unset;
	font-size: 0.56rem;
	margin: 0 auto 1.25rem auto;
}
.footer__mini-text {
	margin: 1.5rem auto 0.63rem auto;
}

	.font_title_main{
		font-size: 20px !important;
	}

.image_with_preload {
	height: 10rem !important;
}




	.list-group-item.services_text.active {
    font-size: 24px !important;
    font-weight: 600 !important;
	}

	.list-group-item.services_text:hover {
		font-size: 24px !important;
		font-weight: 600 !important;
	}

	.services_text {
		font-weight: 400 !important;
		font-size: 18px !important;
	}

	.height_block_uslugi{
		height: 928px;
	}
	.description{
		font-size: 16px;
	}
	.block_together_with_us{
		padding: 120px 549px 120px 80px;
	}
	.height_about_us{
		height:724px;
	}

	.strelkaPosition {
		top: 8px !important;
		left: 12px !important;
	}
	
	.but_hover_square {
		width: 100% !important;
	}


	.b-content {
    padding: 25px 15px 2rem;
	}

	

	.square_block_services_pdl{
		padding-left: 85%;
		top: 55% !important;
	}
	.but_podrobnee_srvices{
		color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-size: 18px !important;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
	}
	.font_title_about_us{
		font-size: 50px;
	}
	.text_block_about_us{
		font-size: 24px;
	}
	.but_view_PDF_about_us{
		font-size:20px;
	}
	.but_podobrat_proect_main{
		font-size: 22px;
	}
	.font-size-24px-styles{
		font-size:24px;
	}
	.font-size-20px-style{
		font-size:20px;
	}
	.font_styles{
		 font-size:20px;
	}
	.font_consult_text{
		font-size:16px;
	}
	.font_consult{
		font-size:16px;
	}
	.kontak_text{
		font-size:16px;
	}
	.width_but_make_change{
		width: 174%;
	}
	.title_arhion{
		font-size: 62px;
	}
}

@media (min-width: 576px) and (max-width: 767px){
	
	.font_title_main{
		font-size:45px
	}
	.height_block_uslugi{
		height: 928px;
	}
	.description{
		font-size: 20px;
	}
	.block_together_with_us{
		padding: 120px 549px 120px 80px;
	}
	.height_about_us{
		height:724px;
	}
	.square_block_services_pdl{
		padding-left: 85%;
	}
	.but_podrobnee_srvices{
		color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
	}
	.font_title_about_us{
		font-size: 50px;
	}
	.text_block_about_us{
		font-size: 24px;
	}
	.but_view_PDF_about_us{
		font-size:20px;
	}
	.but_podobrat_proect_main{
		font-size: 22px;
	}
	.font-size-24px-styles{
		font-size:24px;
	}
	.font-size-20px-style{
		font-size:20px;
	}
	.font_styles{
		 font-size:20px;
	}
	.font_consult_text{
		font-size:20px;
	}
	.font_consult{
		font-size:20px;
	}
	.kontak_text{
		font-size:16px;
	}
	.width_but_make_change{
		width: 204%;
	}
	.title_arhion{
		font-size: 62px;
	}
}


@media (min-width: 768px) and (max-width: 991px){

	.font_title_main{
		font-size:45px
	}
	.height_block_uslugi{
		height: 928px;
	}
	.description{
		font-size: 24px;
	}
	.block_together_with_us{
		padding: 120px 549px 120px 80px;
	}
	.height_about_us{
		height:724px;
	}
	.square_block_services_pdl{
		padding-left: 85%;
	}
	.but_podrobnee_srvices{
		color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
	}
	.font_title_about_us{
		font-size: 50px;
	}
	.text_block_about_us{
		font-size: 24px;
	}
	.but_view_PDF_about_us{
		font-size:20px;
	}
	.but_podobrat_proect_main{
		font-size: 22px;
	}
	.font-size-24px-styles{
		font-size:24px;
	}
	.font-size-20px-style{
		font-size:20px;
	}
	.font_styles{
		 font-size:20px;
	}
	.font_consult_text{
		font-size:20px;
	}
	.font_consult{
		font-size:20px;
	}
	.kontak_text{
		font-size:20px;
	}
	.width_but_make_change{
		width: 267%;
	}
	.title_arhion{
		font-size: 240px;
	}
}


@media (min-width: 992px) and (max-width: 1199px) { 

	.font_title_main{
		font-size:47px
	}
	.height_block_uslugi{
		height: 928px;
	}
	.description{
		font-size: 24px;
	}
	.block_together_with_us{
		padding: 120px 549px 120px 80px;
	}
	.height_about_us{
		height:724px;
	}
	.square_block_services_pdl{
		padding-left: 85%;
	}
	.but_podrobnee_srvices{
		color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
	}
	.font_title_about_us{
		font-size: 50px;
	}
	.text_block_about_us{
		font-size: 24px;
	}
	.but_view_PDF_about_us{
		font-size:20px;
	}
	.but_podobrat_proect_main{
		font-size: 22px;
	}
	.font-size-24px-styles{
		font-size:24px;
	}
	.font-size-20px-style{
		font-size:20px;
	}
	.font_styles{
		 font-size:20px;
	}
	.font_consult_text{
		font-size:20px;
	}
	.font_consult{
		font-size:20px;
	}
	.kontak_text{
		font-size:20px;
	}
	.width_but_make_change{
		width: 91%
	}
	.title_arhion{
		font-size: 240px;
	}
 }

@media (min-width: 1200px) and (max-width: 1399px){ 
	.font_title_main{
		font-size:48px
	}

	.height_block_uslugi{
		height: 928px;
	}
	.description{
		font-size: 24px;
	}
	.block_together_with_us{
		padding: 120px 549px 120px 80px;
	}
	.height_about_us{
		height:724px;
	}
	.square_block_services_pdl{
		padding-left: 85%;
	}
	.but_podrobnee_srvices{
		color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
	}
	.font_title_about_us{
		font-size: 50px;
	}
	.text_block_about_us{
		font-size: 24px;
	}
	.but_view_PDF_about_us{
		font-size:20px;
	}
	.but_podobrat_proect_main{
		font-size: 22px;
	}
	.font-size-24px-styles{
		font-size:24px;
	}
	.font-size-20px-style{
		font-size:20px;
	}
	.font_styles{
		 font-size:20px;
	}
	.font_consult_text{
		font-size:20px;
	}
	.font_consult{
		font-size:20px;
	}
	.kontak_text{
		font-size:20px;
	}
	.width_but_make_change{
		width: 94%
	}
	.title_arhion{
		font-size: 240px;
	}
 }

@media (min-width: 1400px) {

	.font_title_main{
		font-size:48px
	}
	.height_block_uslugi{
		height: 75rem;
	}
	
	.description{
		font-size: 24px;
	}
	.block_together_with_us{
		padding: 120px 549px 120px 80px;
	}
	.height_about_us{
		height:724px;
	}
	.square_block_services_pdl{
		padding-left: 85%;
	}
	.but_podrobnee_srvices{
		color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px; 
	}
	.font_title_about_us{
		font-size: 50px;
	}
	.text_block_about_us{
		font-size: 24px;
	}
	.but_view_PDF_about_us{
		font-size:20px;
	}
	.but_podobrat_proect_main{
		font-size: 22px;
	}
	.font-size-24px-styles{
		font-size:24px;
	}
	.font-size-20px-style{
		font-size:20px;
	}
	.font_styles{
		 font-size:20px;
	}
	.font_consult_text{
		font-size:20px;
	}
	.font_consult{
		font-size:20px;
	}
	.kontak_text{
		font-size:20px;
	}
	.width_but_make_change{
		width: 91%
	}
	.title_arhion{
		font-size: 240px;
	}
}

.font_title_main{
	color: var(--dark, #14010C);
	font-family: 'Inter' !important;
	font-style: normal;
	font-weight: 600;
	line-height: 56px; 
	
}
.but_view_PDF_about_us{
	color: var(--text-light, #F1EBE6);
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
}




 /* *:not(header *, footer *, .pr_order *, .pr_prefooter *, .s-wrap_price *) {
    font-family: 'Inter';
} */

	
.list-group-item.text_together_with_us+.list-group-item.text_together_with_us.active {
	font-weight:600;
	font-size:48px !important;
}



/*Анимация 4 блока главной страницы*/

.box {
  display: none;
}

.title_blox-1, .title_blox-2, .title_blox-3, .title_blox-4 {
  animation-iteration-count: infinite;
}

.title_blox-1 {
  animation: title_blox-1 28s ease-in-out infinite 3s;
}
@keyframes title_blox-1 {
  0%, 25%, 100% {
    color: white;
  }
  12.5% {
    color: #A78B73;
  }
}

.box-1.show {
  animation: box-1 7s ease-in-out 1 forwards;
  color: white;
  display: block;
}
@keyframes box-1 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(50px, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title_blox-2 {
  animation: title_blox-2 28s ease-in-out infinite 10s;
}
@keyframes title_blox-2 {
  0%, 25%, 100% {
    color: white;
  }
  12.5% {
    color: #A78B73;
  }
}

.box-2.show {
  animation: box-2 7s ease-in-out 1 forwards;
  color: white;
  display: block;
}
@keyframes box-2 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(50px, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title_blox-3 {
  animation: title_blox-3 28s ease-in-out infinite 17s;
}
@keyframes title_blox-3 {
  0%, 25%, 100% {
    color: white;
  }
  12.5% {
    color: #A78B73;
  }
}

.box-3.show {
  animation: box-3 7s ease-in-out 1 forwards;
  color: white;
  display: block;
}
@keyframes box-3 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(50px, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title_blox-4 {
  animation: title_blox-4 28s ease-in-out infinite 24s;
}
@keyframes title_blox-4 {
  0%, 25%, 100% {
    color: white;
  }
  12.5% {
    color: #A78B73;
  }
}

.box-4.show {
  animation: box-4 7s ease-in-out 1 forwards;
  color: white;
  display: block;
}
@keyframes box-4 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(50px, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.box-text {
  background-image: url('data:image/svg+xml;utf8,<svg width="30" height="10" viewBox="0 0 30 10" xmlns="http://www.w3.org/2000/svg"><rect width="30" height="10" rx="5" fill="%23A78B73"/></svg>');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px 30px;
  padding-left: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #f7f7f9;
}

.text_block_about_us {
  color: var(--text-dark, #2E2E2E);
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}







/*Править*/

.services_text{
	color: #F7F7F9 !important;
	font-family: 'Inter', sans-serif !important;
	font-size: 28px ;
	font-style: normal !important;
	font-weight: 400;
	transition:1s;
}

.page-item:active{
	color:#A78B73;
	font-weight: 700;
}


.button_podbor:hover .button_podbor_two .button_podbor_square {
    background: var(--gold, #A78B73);
    transition: 1s;
}
.button_podbor:active .button_podbor_two .button_podbor_square {
	background: var(--gold, #A78B73);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
    transition: 1s;
}
.button_podbor:focus .button_podbor_two .button_podbor_square {
	background: var(--gold, #A78B73);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
    transition: 1s;
}

.carousel-control-next, .carousel-control-prev {
	opacity: 0.9 !important;
}

.list-group-item.services_text.active {
	font-size: 35px ;
	font-weight: 600;

}
.list-group-item.services_text:hover {
	font-size: 35px ;
	font-weight: 600;
}

.list-group-item.services_text {
        color: #000 !important;
        font-size: 24px;
    }
    
    .list-group-item.services_text.active 
    {
        color: #000 !important;
        font-size: 28px !important;
    }
    
    .list-group-item.services_text:hover {
        font-size: 28px !important;
    }

.description{
	color: var(--gray, #F7F7F9);
	font-family: Montserrat !important;
	font-style: normal;
	font-weight: 400;
	line-height: 32px; 
	text-align: justify;
}

.text_together_with_us{
	color:white;
	font-family: Inter;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 56px; 
}
 .text_together_with_us:hover{
	 	color:white;
 }
 
 .font_styles{
	color: var(--well-done-dark, #343536) !important;
	text-align: justify;
	font-family: Montserrat !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
 }


	.color_gray_text{
		color:#828282 !important;
	}
	.color_gray_button{
		color:#14010C !important;
	}
	.style_heading_text{
		color: var(--well-done-dark, #343536);
		font-family: 'Inter' !important;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.style_under_heading_text{
		color: var(--black, #343536);
		font-family: 'Inter' !important;
		font-size: 40px;
		font-style: normal;
		line-height: normal;
		font-size:32px !important;
	}
	
	.home-demo h2 {
		color: #FFF;
		text-align: center;
		padding: 5rem 0;
		margin: 0;
		font-style: italic;
		font-weight: 300;
	}
	.list-group-item{
		background-color: transparent  !important; 
		border-color:transparent  !important; 
	}
	
	.w_aroww{
		width: 10%;
	}
	
	
	.change_block_style_form{
		transition: 1s; /* Время эффекта */
	  text-align: right; 
	}
	
	.change_block_style_form:hover {
	  transform: scale(1.2); /* Увеличиваем масштаб */
	  -webkit-transform: translate(15px,0);
	  font-weight:500;
	}
	
	
	
	@media screen and (max-width: 560px) {
		.text_change_project{
			font-size: 16px;
		}
		.style_heading_text{
			font-size:20px;
			font-weight: 700;
		}
		.style_heading_text_cat{
			font-size:24px;
		}
		.pad_top_catalog{
			padding-top:16px;
		}
		.text_geodesic_examination{
			font-size:16px;
		}

	}
	
	@media screen and (min-width: 560px) {
		.text_change_project{
			font-size: 24px;
		}
		.style_heading_text{
			font-size:48px;
		}
		.style_heading_text_cat{
			font-size:48px;
		}
		.pad_top_catalog{
			padding-top:40px;
		}
		.text_geodesic_examination{
			font-size:20px;
		}

	}	
		
		
	.text_change_project{
		color: var(--black, #14010C);
		font-family: Montserrat !important;
		font-style: normal;
		font-weight: 100;
		line-height: normal;

	}	
	.articles_text{
		color: var(--well-done-dark, #343536);
		font-family: 'Montserrat' !important;
		font-size: 21px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}	
		
	.butt_bord{
		border-bottom: 1px solid #000;
	}	
	.slick-list{
		    height: 285px !important;
			padding-top: 21%;
	}
	.slick-slide img {
    display: inline-block !important;
	}

.accordion-button.my_accordion::after{
	background-image:none !important;
}
.accordion-button:not(.collapsed) {
	color:black !important;
	background-color:transparent !important;
	font-weight: 600 !important;
	
}

.accordion-button{
	font-weight: 400 !important;
}
.text_predlojenya_mob{
	font-size:16px !important;
	color: #343536 !important;
}

.accordion-button.icon_with_predlojenya_mob:not(.collapsed) {
	width: 36.5px !important;
}

.icon_with_predlojenya_mob{
	width: 35px;
    padding-right: 14px;
}

.owl-theme.my_owl .owl-nav [class*=owl-]{
	background:transparent !important;
}
.text_materials_style{
	  -webkit-line-clamp: 8; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
	text-align:justify;
	color: var(--well-done-dark, #343536);
	font-family: Montserrat !important;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; 
}
.font_style_20px{
	font-size:20px;
}
.morecontent span {
    display: none;
}
.morelink {
    font-weight: bold;
    color: #4682b4;
}



@media screen and (max-width: 599px) {
	.owl-carousel.slide-two .owl-nav{
		display:none !important;
	}
	.owl-carousel.slide-prosmotrenny .owl-nav{
		display:none !important;
	}
	.font_size_text_catalog{
		font-size:14px;
	}
	.font_size_text_project{
		font-size:14px;
	}
	.my_size_font_style_form{
		font-size:24px
	}
}



@media (max-width: 360px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -210px;
		left:50%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -210px;
	}
	.block_add_change_text{
		font-size:16px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}

	
}


@media (min-width: 361px) and (max-width: 390px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -222px;
		left:61%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -222px;
	}
	.block_add_change_text{
		font-size:16px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}

	
}

@media (min-width: 391px) and (max-width: 420px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -232px;
		left:68%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -232px;
	}
	.block_add_change_text{
		font-size:16px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}

}



@media (min-width: 421px) and (max-width: 487px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -255px;
		left:71%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -255px;
	}
	.block_add_change_text{
		font-size:16px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}

}

 @media (min-width: 488px) and (max-width: 590px)  {

	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -287px;
		left:75%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -287px;
	}
	
	.block_add_change_text{
		font-size:16px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}

}


 @media (min-width: 591px) and (max-width: 600px)  {

	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -222px;
		left:77%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -222px;
	}
	.block_add_change_text{
		font-size:16px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}

	
}



 @media (min-width: 488px) and (max-width: 600px)  {
	.owl-carousel.slide-two .owl-nav{
		display:none !important;
	}
	.owl-carousel.slide-prosmotrenny .owl-nav{
		display:none !important;
	}
	.font_size_text_catalog{
		font-size:14px;
	}
	.font_size_text_project{
		font-size:14px;
	}
	.block_add_change_text{
		font-size:16px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}

}

@media (min-width: 601px) and (max-width: 720px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -234px;
		left:84%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -234px;
	}
	.block_add_change_text{
		font-size:20px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}
	.font_style_28px{
		font-size:26px !important;
	}
}

@media (min-width: 721px) and (max-width: 960px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -272px;
		left:84%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -272px;
	}
	.block_add_change_text{
		font-size:20px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 34%;
	}
	.font_style_28px{
		font-size:26px !important;
	}
	
}
@media (min-width: 961px) and (max-width: 1140px) {
	
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -250px;
		left:87%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -250px;
	}
	.block_add_change_text{
		font-size:23px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 37%;
	}
	
	.font_style_28px{
		font-size:28px !important;
	}
	
}

@media (min-width: 1141px) {
	
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -230px;
		left:90%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -230px;
	}
	.block_add_change_text{
		font-size:24px;
	}
	.pad_left_blovk_add_change{
		    padding-left: 37%;
	}

	.font_style_28px{
		font-size:28px !important;
	}
	
}
@media (min-width: 1300px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -234px;
		left:91%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -234px;
	}

	.font_style_28px{
		font-size:28px !important;
	}
}


@media (min-width: 1400px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -234px;
		left:92%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -234px;
	}

	.font_style_28px{
		font-size:28px !important;
	}
}


@media (min-width: 1600px) {
	.owl-carousel.my_owl_material .owl-nav .owl-prev{
		top: -238px;
		left:93%;
	}
	.owl-carousel.my_owl_material .owl-nav .owl-next{
		top: -238px;
	}

	
	.width_but_make_change{
		width: 89%
	}
	
}

.owl-carousel.slide-two .owl-stage {
	padding-bottom:35px;
}


@media screen and (min-width: 600px) {
	.owl-carousel.slide-two .owl-nav{
		display:flex !important;
		justify-content: center!important;
	}
	.owl-carousel.slide-prosmotrenny .owl-nav{
		display:block !important;
	}
	.font_size_text_catalog{
		font-size:20px;
	}
	.font_size_text_project{
		font-size:20px;
	}
	.my_size_font_style_form{
		font-size:40px
	}
	.accordion-button.questions_font{
		font-size:32px !important;
	}
	.accordion-body.answer{
		font-size:20px !important;
	}
}

	.owl-carousel.my_owl_material .owl-nav{
		position:absolute;
		top: -16%;
		right:2%;
	}
	.block_add_change_text{
		color: var(--well-done-dark, #343536);
		font-family: Montserrat;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
	}
	

	.butt_bord_gray{
	  border-bottom: 1px solid #828282;
	}
	
	.but_project_font{
		font-family:'Montserrat' !important;
	}

	.accordion-button.questions_font{
		color:#343536 !important;
		font-weight: 400 !important;
		font-family: Inter !important;
	}
	.accordion-body.answer{
		color:#343536 !important;
		font-weight: 400 !important;
		font-family: Montserrat !important;
	}
	
	.form-select.my_sortirovka{
		background-size: 15px 24px !important;
		background-position: right 0.10rem center !important;			
		padding: .375rem 1.25rem .375rem .75rem;
	}
	
	.font_style_28px{
		font-family:'Inter' !important;
		font-weight:300;
	}
	
	.font_catalog{
		text-align: justify;
		color: black;
		font-family: 'Inter' !important;
	}
	.my_accordion{
		font-family:'Inter' !important;
	}
	
.my_next_catalog{
	display:none !important;
}
	
.my_slide_catalog:hover .my_next_catalog{	
	display:block !important;
}
.my_prev_catalog{
	display:none !important;
}
	
.my_slide_catalog:hover .my_prev_catalog{	
	display:block !important;
}


.owl-theme.slide-prosmotrenny .owl-nav [class*=owl-] {
	 color: transparent !important;
    font-size: 0px !important;
    margin: 0px !important; 
    padding: 0px !important;
    background: transparent !important;
    display: inline-block;
    cursor: pointer;
    border-radius: 0px !important;
}

.my_carousel_main:hover{
    box-shadow: 5px 15px 30px 0 #000;
}
.but_podobrat_proect_main{
	color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	text-shadow: 1px 1px 2px #393434;
}
.podobrat_proect_main{
	border: 1px solid var(--gold, #A78B73);
	border-radius: 50%;
	width: 200px; 
	height: 200px;
}

.podobrat_proect_main:hover{
	background: var(--gold, #A78B73);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
	border: 1px solid black;
	transition: 1s;
}

.text_slide_main{
	color: var(--gray, #F7F7F9);
	font-family: 'Inter', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px; 
	color: var(--gray, #F7F7F9);
	text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25), -2px -2px 12px rgba(0, 0, 0, 0.25);
}

.but_hover_square {
	width: 75%;
}

.but_hover_square:hover .button_podbor_square_services{
	background: var(--gold, #A78B73);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
	border: 1px solid black;
	transition: 1s;
	
}




#btn-view-example-docum-preview_geodeziya {
    min-width: 250px;
    min-height: 250px;
    padding: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    background-color: transparent;
    text-align: center;
}



#btn-view-example-docum-preview_geodeziya:hover {
    background-color: #A78B73;
}

#btn-view-example-docum-preview_geodeziya .static-line-project {
    width: 350px;
    height: 2px;
    top: 58%;
    left: 30px;
}

#btn-view-example-docum-preview_geodeziya .animation-line-project {
    background-color: #A78B73;
    top: 58%;
    left: 30px;
}

#btn-view-example-docum-preview_geodeziya .static-line-project::after {
    content: url('https://test.rddp.ru/img/block_example_docum/arrow-white.svg');
    bottom: 0;
}

.btn-circle-project {
    color: #14010C;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    border: 1px solid #A78B73;
    min-width: 192px;
    min-height: 192px;
    border-radius: 50%;
    max-width: 192px;
    position: relative;
    background-color: #fff;
    text-align: left;
    padding-left: 10%;
    text-transform: uppercase;
    transition: all ease-in-out 1s;
}

.btn-circle-project:hover {
    background-color: #A78B73 !important;
}

.btn-circle-project:active {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, .5);
}


.btn-circle-project .static-line-project {
    width: 300px;
    position: absolute;
    margin: 0;
    top: 49%;
    height: 1px;
    background-color: #A78B73;
    opacity: 1;
}

.btn-circle-project .animation-line-project {
    position: absolute;
    margin-top: 0;
    top: 49%;
    background-color: #A78B73;
    opacity: 1;
    height: 2px;
}

.btn-circle-project .static-line-project::after {
    content: url('https://test.rddp.ru/img/block_info_project/arrow-btn-order.svg');
    position: absolute;
    right: 0;
    bottom: 10px;
}


.btn-circle-geodeziya {
    color: #14010C;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    border: 1px solid #A78B73;
    min-width: 241px;
    min-height: 241px;
    border-radius: 50%;
    max-width: 240px;
    position: relative;
    background-color: #fff;
    text-align: left;
    padding-left: 10%;
    text-transform: uppercase;
    transition: all ease-in-out .3s;
}

.btn-circle-geodeziya:hover {
    background-color: #A78B73;
}

.btn-circle-geodeziya:active {
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, .5);
}


.btn-circle-geodeziya .static-line-geodeziya {
    width: 300px;
    position: absolute;
    margin: 0;
    top: 49%;
    height: 1px;
    background: var(--well-done-dark, #14010C);
    opacity: 1;
}

.btn-circle-geodeziya .animation-line-geodeziya {
    position: absolute;
    margin-top: 0;
    top: 49%;
    background: var(--well-done-dark, #14010C);
    opacity: 1;
    height: 2px;
}

.btn-circle-geodeziya .static-line-geodeziya::after {
    content: url('https://test.rddp.ru/img/block_info_project/arrow-btn-order.svg');
    position: absolute;
    right: 0;
    bottom: 10px;
}

.btn-circle-project .animation-line-project {
  animation: line-btn-circle 2s infinite ;
}

.btn-square-project .animation-line-project {
  animation: line-btn-square 2s infinite ;
}

.btn-circle-geodeziya .animation-line-geodeziya {
  animation: line-btn-circle 2s infinite ;
}

.btn-square-geodeziya .animation-line-geodeziya {
  animation: line-btn-square 2s infinite ;
}


@keyframes line-btn-circle {
  0% {
    width: 0;
  }

  100% {
    width: 300px;
  }
}

@keyframes line-btn-square {
  0% {
    width: 0;
  }

  100% {
    width: 280px;
  }
}

@keyframes line-btn-get-price {
  0% {
    width: 0;
  }

  100% {
    width: 310px;
  }
}

@keyframes line-btn-view-example-docum {
  0% {
    width: 0;
  }

  100% {
    width: 350px;
  }
}

@keyframes line-btn-square-long {
  0% {
    width: 0;
  }

  100% {
    width: 580px;
  }
}

@keyframes btn-play-circle {
  0% {
    stroke-dashoffset: 484px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}


#btn-view-example-docum-preview_geodeziya .animation-line-project {
  animation: line-btn-view-example-docum 2s infinite
}


.number_geodeziya{
	color: #F7F7F9;
	text-align: right;
	font-family: 'StickNoBills';
	font-size: 100px;
	font-style: normal;
	font-weight: 200;
	line-height: 145px; 
}
.text_geodesic_examination{
	color: #343536;
	text-align: justify;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; 
}

.but_podrobnee_geodeziya_description{
	color: #828282 !important;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.text_geodeziya{
	color: var(--gray, #F7F7F9);
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

.text_geodeziya_price{
	color: var(--gray, #F7F7F9);
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px; 
}
.geodeziya_title{
	color: #FFF;
	text-shadow: 2px 2px 7px #000;
	font-family: Inter;
	font-size: 78px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.geodeziya_title_description{
	color: #343536;
	text-align: justify;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 140% */
}
.back_transpar{
	background-color: transparent;
}


.build_text_slider{
color: var(--white, #FBFBFB);
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
}